body {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #F4F9E9;
}
.navbar-inverse {
    background-color: #53D8FB;
    border-color: #53D8FB;
}
.navbar-inverse .navbar-brand {
    color: #363732;
}
a {
  color: #53D8FB;
  text-decoration: none;
}
a:hover, a:focus {
  color: #363732;
  text-decoration: none;
}
.label-info {
  background-color: #53D8FB;
}
.label-info[href]:focus, .label-info[href]:hover {
  color: #363732;
  text-decoration: none;
  background-color: #53D8FB;
}